<input type="file" name="file" id="fileHandle" (change)="onFileChange($event)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

<div class="container mt-5">
  <h3 class="text-primary mb-4">My Workplace</h3>

  <div [formGroup]="dynamicForm" >
    <div formArrayName="rows" class="excel-sheet">
      <div
        *ngFor="let row of dynamicForm.get('rows').controls; let i = index"
        class="row mb-4"
      >
        <div [formGroupName]="i" class="row gx-3">
          <div
            formArrayName="cells"
            class="col-9 d-flex align-items-center excel-row"
          >
            <div
              *ngFor="let cell of row.get('cells').controls; let j = index"
              class="col-3 excel-cell"
            >
              <label class="text-dark">{{ getColumnName(j) + (i + 1) }}</label>
              <div class="input-group">
                <!-- Add #inputField to the input element -->
                <input
                  #inputField
                  [formControl]="cell"
                  class="form-control excel-input"
                  placeholder="Cell {{ j + 1 }}"
                  (input)="cellValueChange(i, j, $event)"
                />

                <span class="input-group-text"
                  ><i class="bi bi-lock-fill"></i
                ></span>
              </div>
            </div>
            <button class="btn btn-primary" (click)="addCell(row)">
              <i class="bi bi-journal-plus"></i> Cell
            </button>
          </div>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-sm btn-primary me-3 px-1 py-1 small-btn"
      (click)="addRow()"
    >
      <i class="bi bi-journal-plus"></i> Row
    </button>

    <button type="button" class="btn btn-sm me-3 btn-warning" (click)="resetCells()">
      Reset Cells
    </button>

    <button type="button" class="btn btn-sm btn-success me-3" (click)="onSubmit()">Submit</button>
    <button type="button" class="btn btn-sm btn-info" (click)="downloadCSV()">
      Download CSV <i class="bi bi-cloud-download"></i>
    </button>
    <button type="button" class="btn btn-sm btn-danger" (click)="downloadExcel()">
      Download Excel <i class="bi bi-cloud-download"></i>
    </button>
 
</div>
