<h3>My WorkPlace</h3>

<form [formGroup]="dynamicForm" (submit)="onSubmit()">
  <div formArrayName="rows">
    <div
      *ngFor="let row of dynamicForm.get('rows').controls; let i = index"
      class="row"
    >
      <div [formGroupName]="i">
        <div formArrayName="cells" class="cell-container">
          <div
            *ngFor="let cell of row.get('cells').controls; let j = index"
            class="cell"
          >
            <label>{{ getColumnName(j) + (i + 1) }}</label>
            <input
              [formControl]="cell"
              placeholder="Cell {{ j + 1 }}"
              (input)="cellValueChange(i, j, $event)"
            />
          </div>
        </div>
        <button type="button" (click)="addCell(row)">Add Cell</button>
      </div>
    </div>
  </div>
  <button type="button" (click)="addRow()">Add Row</button>

  <input type="submit" />

  <button type="button" (click)="downloadCSV()">Download CSV</button>
</form>
