<form [formGroup]="dynamicForm" (submit)="onSubmit()">
    <div formArrayName="rows">
      <div *ngFor="let row of dynamicForm.get('rows').controls; let i = index" class="row">
        <div [formGroupName]="i">
          <div formArrayName="cells" class="cell-container">
            <div *ngFor="let cell of row.get('cells').controls; let j = index" class="cell">
              <input [formControl]="cell" placeholder="Cell {{ j + 1 }}">
            </div>
          </div>
          <button type="button" (click)="addCell(row)">Add Cell</button>
        </div>
      </div>
    </div>
    <button type="button" (click)="addRow()">Add Row</button>
    <input type="submit">
  </form>
  
  


