<h3>This the the formula section here we can easily access the formula to do different tasks in the worksheet.</h3>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Action</th>
        <th scope="col">Formula</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Sum</td>
        <td>=Sum(Ai : Aj) where 1 ≤ i < j ≤ n</td>
        <td>To get the sum of perticular category we use this formula.</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Grand Total</td>
        <td>=Sum(Ai , Aj) where 1 ≤ i < j ≤ n</td>
        <td>To get the sum of categories we use this formula.</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td >Copy</td>
        <td>p=Copy(Ai:Aj) where 1 ≤ i < j ≤ n and p can be anything</td>
        <td>To copy the value of one row into multiple rows of the same column use this formula.</td>
      </tr>
     <tr>
        <th scope="row">4</th>
        <td >Distribute</td>
        <td>p=Distribute(Ai.....Aj) where 1 ≤ i < j ≤ n and p should be integer</td>
        <td>To Distribute the value of the Grand total among the other rows on the basis of the ratio from the preceeding column use this formula</td>
      </tr>
    </tbody>
  </table>