<div class="container table-container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div
          class="card-body"
          style="font-family: Arial, sans-serif; color: #333"
        >
          <h3
            class="card-title"
            style="font-size: 24px; font-weight: bold; color: #4285f4"
          >
            This is the formula section where you can access various formulas
            for tasks in the worksheet.
          </h3>

          <div class="row">
            <div class="col">
              <div class="table-responsive">
                <table class="table" style="font-size: 18px">
                  <thead style="background-color: #4285f4; color: white">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Action</th>
                      <th scope="col">Formula</th>
                      <th scope="col">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Sum</td>
                      <td>=Sum(Ai : Aj) where 1 ≤ i < j ≤ n</td>
                      <td>
                        To get the sum of a particular category, use this
                        formula.
                      </td>
                    </tr>

                    <tr>
                      <th scope="row">2</th>
                      <td>Grand Total</td>
                      <td>=Sum(Ai , Aj) where 1 ≤ i < j ≤ n</td>
                      <td>To get the sum of categories we use this formula.</td>
                    </tr>

                    <tr>
                      <th scope="row">3</th>
                      <td>Copy</td>
                      <td>
                        p=Copy(Ai:Aj) where 1 ≤ i < j ≤ n and p can be anything
                      </td>
                      <td>
                        To copy the value of one row into multiple rows of the
                        same column use this formula.
                      </td>
                    </tr>

                    <tr>
                      <th scope="row">4</th>
                      <td>Distribute</td>
                      <td>
                        p=Distribute(Ai.....Aj) where 1 ≤ i < j ≤ n and p should
                        be integer
                      </td>
                      <td>
                        To Distribute the value of the Grand total among the
                        other rows on the basis of the ratio from the same
                        column use this formula.
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>Forecast</td>
                      <td>
                        p=Forecast(Ai.....Aj) where 1 ≤ i < j ≤ n and p should
                        be integer
                      </td>
                      <td>
                        To forecast the value of the Grand total among the
                        other rows on the basis of the ratio from the preceeding
                        column use this formula.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
